<div>
    <app-header></app-header>
    <main>

    <ul id ="users">
        <!-- <li *ngFor="let user of users" style="list-style: none; margin: 10px;">
          <app-user
            [user]="user"
            (select)="onSelectUser($event)"
            [selectedUserId]="selectedUserId"
          >
          </app-user>
        </li> -->
        @for(user of users; track user.id){
            <li >
                <app-user
                    [user]="user"
                    (select)="onSelectUser($event)"
                    [selectedUserId]="selectedUserId"
                ></app-user>
            </li>
        }
      </ul>
      <section>
        <app-tasks [selectedUserName]="selectedUserName" [selectedUserId]="selectedUserId"></app-tasks>
      </section>
    
    </main>
</div>


